<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<base href="./" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
		<!-- multiple icons for IE -->
		<meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
		<title>Английский без регистрации</title>
		<!-- Chrome App manifest developers.google.com/web/fundamentals/device-access/stickyness/web-app-manifest -->
		<link rel="manifest" href="/manifest.json" />
		<!-- icons -->
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<!-- icon in the highest resolution we need it for -->
		<link rel="icon" type="image/png" href="/apple-touch-icon-228x228.png" sizes="228x228" />
		<!-- reuse same icon for Safari -->
		<link rel="apple-touch-icon" href="/apple-touch-icon-228x228.png" />
		<!-- iOS 6 & 7 iPad (retina, portrait) --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iOS 6 & 7 iPad (retina, landscape) --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iOS 6 iPad (portrait) --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
		<!-- iOS 6 iPad (landscape) --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
		<!-- iOS 6 & 7 iPhone 5 --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iOS 6 & 7 iPhone (retina) --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iOS 6 iPhone --> 
		<link href="/apps/shimanskybiz-webapp/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
		<link rel="stylesheet" href="./css/bundle.min.css" />
	</head>
	<body ng-app="MobileAngularUiShimanskyBiz" ng-controller="MainController">
		<div ng-include="'./includes/sidebar.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"></div>
		<div class="app">
			<div class="navbar navbar-app navbar-absolute-top">
				<div class="navbar-brand navbar-brand-center" yield-to="title">
					<span>Английский без&#160;регистрации</span>
				</div>
				<div class="btn-group pull-left">
					<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</div>
			<div class="navbar navbar-app navbar-absolute-bottom">
				<div class="btn-group justified">
					<a href="https://englishextra.github.io/portfolio/" class="btn btn-navbar" target="_blank">&#169;&#160;englishextra.github.io</a>
				</div>
			</div>
			<div class="app-body" ng-class="{loading: loading}">
				<div ng-show="loading" class="app-content-loading">
					<i class="fa fa-spinner fa-spin loading-spinner"></i>
				</div>
				<ng-view class="app-content" ng-hide="loading"></ng-view>
			</div>
		</div>
		<script src="./js/bundle.min.js"></script>
		<script>
			"undefined"!==typeof window.Modernizr||(window.Modernizr=function(a,b,c){function v(a){j.cssText=a}function w(a,b){return v(prefixes.join(a+";")+(b||""))}function x(a,b){return typeof a===b}function y(a,b){return!!~(""+a).indexOf(b)}function z(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:x(f,"function")?f.bind(d||b):f}return!1}var d="2.8.2",e={},f=!0,g=b.documentElement,h="modernizr",i=b.createElement(h),j=i.style,k,l={}.toString,m={svg:"http://www.w3.org/2000/svg"},n={},o={},p={},q=[],r=q.slice,s,t={}.hasOwnProperty,u;!x(t,"undefined")&&!x(t.call,"undefined")?u=function(a,b){return t.call(a,b)}:u=function(a,b){return b in a&&x(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=r.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(r.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(r.call(arguments)))};return e}),n.svg=function(){return!!b.createElementNS&&!!b.createElementNS(m.svg,"svg").createSVGRect};for(var A in n)u(n,A)&&(s=A.toLowerCase(),e[s]=n[A](),q.push((e[s]?"":"no-")+s));return e.addTest=function(a,b){if(typeof a=="object")for(var d in a)u(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return e;b=typeof b=="function"?b():b,typeof f!="undefined"&&f&&(g.className+=" "+(b?"":"no-")+a),e[a]=b}return e},v(""),i=k=null,e._version=d,g.className=g.className.replace(/(^|\s)no-js(\s|$)/,"$1$2")+(f?" js "+q.join(" "):""),e}(this,this.document));
			var app=angular.module("MobileAngularUiShimanskyBiz",["ngRoute","ngTouch","mobile-angular-ui"]);app.config(function($routeProvider,$locationProvider){$routeProvider.when("/",{templateUrl:"pages/home.html"});$routeProvider.when("/articles_reading_rules_utf",{templateUrl:"pages/articles/articles_reading_rules_utf.html"});$routeProvider.when("/grammar_usage_of_articles_a_the",{templateUrl:"pages/grammar/grammar_usage_of_articles_a_the.html"});$routeProvider.when("/grammar_usage_of_tenses",{templateUrl:"pages/grammar/grammar_usage_of_tenses.html"});$routeProvider.when("/grammar_phrasal_verbs",{templateUrl:"pages/grammar/grammar_phrasal_verbs.html"});$routeProvider.when("/grammar_irregular_verbs",{templateUrl:"pages/grammar/grammar_irregular_verbs.html"});$routeProvider.when("/tests_grammar_tests_with_answers",{templateUrl:"pages/tests/tests_grammar_tests_with_answers.html"});$routeProvider.when("/tests_gia_english_test_sample",{templateUrl:"pages/tests/tests_gia_english_test_sample.html"});$routeProvider.when("/tests_ege_english_test_sample",{templateUrl:"pages/tests/tests_ege_english_test_sample.html"});$routeProvider.when("/aids_topics",{templateUrl:"pages/aids/aids_topics.html"});});app.controller("MainController",function($rootScope,$scope){$rootScope.$on("$routeChangeStart",function(){$rootScope.loading=true;});$rootScope.$on("$routeChangeSuccess",function(){$rootScope.loading=false;});});
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-51376705-1");ga("send", "pageview");
		</script>
	</body>
</html>
