			<div class="scrollable sidebar-scrollable">
				<div class="scrollable-content">
					<div class="list-group" toggle="off" bubble target="mainSidebar">
						<a class="btn-nav-left" href="./index.html" id="btn-nav-left" title="Начало"></a>
						<a class="list-group-item" href="#/">Начало <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/articles_reading_rules_utf">Правила чтения <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/grammar_usage_of_articles_a_the">Употребление артиклей <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/grammar_usage_of_tenses">Употребление времен <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/grammar_phrasal_verbs">Фразовые глаголы <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/grammar_irregular_verbs">Неправильные глаголы <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/tests_grammar_tests_with_answers">Тесты по&#160;грамматике <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/tests_gia_english_test_sample">Демо ГИА-9 (ОГЭ) АЯ <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/tests_ege_english_test_sample">Демо ЕГЭ-11 АЯ <i class="fa fa-chevron-right pull-right"></i></a>
						<a class="list-group-item" href="#/aids_topics">Топики на&#160;английском <i class="fa fa-chevron-right pull-right"></i></a>
					</div>
				</div>
			</div>
